.fsize14
{
  font-size: 14px;
}

.fsize16
{
  font-size: 16px;
}

.fsize18
{
  font-size: 18px;
}

.fsize20
{
  font-size: 20px;
}

.fsize24
{
  font-size: 24px;
}

.fsize26
{
  font-size: 26px;
}

.fsize30
{
  font-size: 30px;
}

.fsize40
{
  font-size: 40px;
}

.fsize45
{
  font-size: 45px;
}

.fsize60
{
  font-size: 60px;
}